.password-reset-background {
	background-image: url('/img/placeholder_img.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100vw;
	height: 40vw;
	min-height: 400px;

	padding-top: 150px;
}